$button-color: #2196f3;

.search_page {
  max-width: 60%;
  margin: 0 auto;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #00688b;
  padding: 10px;

  button {
    padding: 10px 25px;
    background-color: #fff;
    border-radius: 5px;
    color: $button-color;
    border-color: $button-color;
    outline: 0;
    cursor: pointer;

    &:hover {
      background-color: $button-color;
      color: #fff;
    }
  }
}

@media (max-width: 500px) {
  .search_page {
    max-width: 85%;
  }
}
